form {
    padding-bottom: 20px;
}

input, textarea{
    font-size: 21px;
    color: grey;
    width: 400px;
    margin-bottom: 10px;
}

textarea {
    height: 200px;
}

button {
    font-size: 21px;
    background-color: black;
    border-radius: 5px;
}