form {
    padding-bottom: 20px;
}

input, textarea, button {
    margin-bottom: 10px;
}

.buttonEnabled {
    visibility: visible;
    font-size: 21px;
    background-color: black;
    border-radius: 5px;
}
.buttonDisabled{
    visibility:hidden;
}
.verification{
    display: none;
}