.choose {
    display: flex;
    float: left;
    width: 100px;
    height: 100px;
    opacity: 0.2;
    cursor: pointer;
}



.container {
    background-image: url("/img/ukulele.jpg");
    height: 736px;
    width: 736px;
    margin: 0 auto;
}

#div1 {
    background-color: red;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: blue;
}

#div4 {
    background-color: yellow;
}