* {
    box-sizing: border-box;
}

.product-container {
    /*float: left;*/
    position: relative;
}

.prod_item {
    /*width: 50%;*/
    /*float: left;*/
    color: white;
}

.product-title {
    margin-bottom: 20px;
}

.product-list {
   font-size: 14px;
   padding-left: 22px;
   text-indent: -12px;
   line-height: 22px;
    /*display: inline;*/
}

.product-text {
    color: rgb(250, 175, 24);
}


.product-clear {
    clear: both;
    display: block;
    /*float: left;*/
}