* {
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-page {
    background-image: url("img/event.jpeg");
}

.contctus-page {
    background-image: url("img/contact.jpg");
}

.aboutus-page {
    background-image: url("img/aboutus.jpg");
}

.col-sm-8 {
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    padding: 15px 0;
    margin-top: 15px;
}

.fa-rocket {
    color: white;
    float: left;
    font-size: 15px;
    margin: 0.25em;
}

.navbar-brand {
    font-size: 23px;
    font-weight: 700;
}

hr {
    opacity: 0.9;
    background-color: #080808;
}

.footer-style {
    margin-top: 15px;
    color: white;
    line-height: 25px;
    background-color: #080808;
    padding: 5px;
    width: 100%;
}

#myCarousel {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.carouselSize {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.row {
    min-height: 88.6vh;
    margin-top: 50px;
}
.thumbnail{
    height: 450px;
}
.textThumbnail{
    font-weight:normal;
    color: #000000;
}
.buttonThumbnail{
    position: absolute;
    right:    13%;
    bottom:   7%;
}