* {
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/colorfulbc.jpg");
}

.body {
    min-height: 550px;
}

.col-sm-8 {
    background-color: rgba(0,0,0,0.65);
    text-align: center;
    font-weight: bold;
    color: rgb(250, 175, 24);
    border-radius: 4px;
    margin-top: 15px;
}

hr {
    opacity: 0.9;
    background-color: #080808;
}

.navbar-logo {
    height: 50px;
    padding: 1px 15px;
}

.footer-style {
    margin: 15px 0;
    color: rgb(250, 175, 24);
    line-height: 25px;
    background-color: #080808;
    padding: 5px;
    width: 100%;
}

#myCarousel {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.carouselSize {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.row {
    margin-top: 50px;
}

.thumbnail{
    height: 450px;
}
.textThumbnail{
    font-weight:normal;
    color: #000000;
}
.buttonThumbnail{
    position: absolute;
    margin-right: 55%;
    bottom: 6%;
    transform: translateX(-50%);
}