* {
    box-sizing: border-box;
}

body {

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("img/colorfulbc.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}


.body {
    min-height: 85.5vh;
}

.col-sm-8 {
    background-color: rgba(0,0,0,0.65);
    text-align: center;
    font-weight: bold;
    color: rgb(250, 175, 24);
    border-radius: 4px;
    margin-top: 15px;
}

hr {
    opacity: 0.9;
    background-color: #080808;
}

.navbar-logo {
    height: 50px;
    /*padding: 1px 15px;*/
}

.footer-style {
    color: rgb(250, 175, 24);
    line-height: 25px;
    background-color: #080808;
    padding: 5px;
    width: 100%;
    margin: 15px 0;
}

#myCarousel {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.carouselSize {
    width: 300px;
    /*height: 300px;*/
    margin-bottom: 30px;
}

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
}


.margintop {
    margin-top: 50px;
}

.thumbnail{
    position: relative;
}
.textThumbnail{
    position: absolute;
    font-weight:normal;
    /* color: #000000;*/
    color: rgb(250, 175, 24);
    background-color: rgba(63, 53, 61, 0.65);

    text-shadow: 1px 2px #000;


}
.eventMain{
    font-size: 18px;
    visibility: visible;
    transition:visibility 0s linear 0.2s,opacity 0.1s linear;


}
.eventName{
    position: relative;

}
.eventPlace{
    position: relative;


}
.eventDetails{
    visibility: hidden;
    width: 150px;
    position: absolute;
    font-size: 17px;
    top: 20%;
    align-self: center;

    transition:visibility 0s linear 0.2s,opacity 0.1s linear;

}

.eventDetailsText{
    position: relative;
    top:20px;
    background-color: rgba(0,0,0,0.75);
}


.buttonThumbnail{
    position: absolute;
    width: auto;
    margin-right: 55%;
    bottom: 7%;
    transform: translateX(-50%);
}
.thumbImages{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.thumbnail:hover .eventMain{
    visibility: hidden;
}
.thumbnail:hover .eventDetails, .eventName{
    visibility: visible;
}
.mid{
    margin:0px 50px;
}

.midNav{
    margin-left: 15.5%;
    margin-right: 14.5%;
}

@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .body {
        min-height: 0;
    }
    .prod_item > .prod_text.lead{
        font-size: 21px;
    }
}

.social {
    font-size: 20px;
    font-weight: bold;
}

.social>div>a, .social>div>a:hover {
    text-decoration: none;
}